body {
    margin: 0;
    background: #89cff0;
    color: white;
    font-family: monospace, sans-serif;
}

#main,
#title,
#score-container,
#score-label,
#main-body {
    text-align: center;
}

#title {
    font-size: 70px;
}

#main-body {
    font-size: 40px;
}

#button-container {
    display: flex;
    justify-content: center;
}

.button {
    width: 250px;
    height: 250px;
    border: 2px solid white;
    margin: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px;
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#score-label,
#score-container {
    display: flex;
    justify-content: space-around;
}

.label {
    padding-top: 30px;
    padding-left: 40px;
    font-size: 30px;
}

.score {
    font-size: 70px;
}

#results {
    text-align: center;
    font-size: 25px;
    opacity: 0;
}

#play-again {
    background-color: #646464;
    border: 2px solid white;
    margin: 20px;
    padding: 20px;
}
#play-again:hover {
    cursor: pointer;
    filter: brightness(1.1);
    transform: scale(1.1);
}

.disappear {
    display: none;
}

#game-done {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#final-result {
    padding: 50px;
    font-size: 80px;
}
